
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background: rgb(231, 255, 215);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;


}
h1{
    color: rgb(36, 109, 44);
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto;width:200px;
}
#inicio{    
    color: black;
    text-decoration: none;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 1.3rem;
    margin-right: 20px;
    margin-top: 30px;
    font-weight: bold;

}

#siguiente{
    margin-left: 1300px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bold;

}
a{
    text-decoration: none;
    color: black;
}
p{
    text-align: justify;
    margin: 30px;
    font-family: calibri;
}

main{
    display: flex;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 255, 215);
}

.lv{
    
    width: 500px;
    height: 500px;
    align-items: center;
    
}

.lt{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: rgb(36, 109, 44);
    

}


.footer{
    background: rgb(231, 255, 215);
    height: 80px;
    margin: 20px;
}
#img1{
    width: 50px;
    margin-top: 18px;
    padding-right: 10px;
}
#img2{
    width: 45px;
    margin-top: 18px;
}
