*{
    margin: 0%;
    padding: 0%;
    box-sizing: none;
}
nav{
    background: rgb(231, 255, 215);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
p{
    text-align: justify;
    margin: 30px;
    font-family: calibri;
    text-align: justify;
}
h1{
    color: rgb(36, 109, 44);
    align-items: center;
    font-family: serif;
}

h2{
    text-align: center;
}
.contenedor{
    width: 96%;
    max-width: 10000px;
    margin: 1.6em;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);

}


    #link{
        color: black;
        text-decoration: none; 
    } 
    

.fondodiv{
    background: rgb(231, 255, 215);
    padding: 15px;
    margin: 10px;
}

.footer{
    background: rgb(231, 255, 215);
    height: 80px;
    margin: 20px;
}
#img1{
    width: 50px;
    margin-top: 18px;
    padding-right: 10px;
}
#img2{
    width: 45px;
    margin-top: 18px;
}


